@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h2 {
    margin-top: 7px;
    display: flex;
    width: 70px;
    height: 40px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 0 5px 2px var(--norm_key_shad);
    @apply transform active:translate-y-1 transition-transform;
  }
  h3 {
    margin-top: 7px;
    display: flex;
    width: 70px;
    height: 40px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 0 5px 2px var(--norm_key_shad);
    @apply transform active:translate-y-1 transition-transform;
  }
  h4 {
    margin-top: 7px;
    display: flex;
    width: 70px;
    height: 40px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 0 5px 2px var(--norm_key_shad);
    @apply transform active:translate-y-1 transition-transform;
  }
  h2:hover {
    cursor: pointer;
    background-color: var(--norm_key_shad);
  }
  h3:hover {
    cursor: pointer;
    background-color: var(--norm_key_shad);
  }
  h4:hover {
    cursor: pointer;
    background-color: var(--norm_key_shad);
  }
}

@media screen and (max-width: 390px) {
  h2,
  h3,
  h4 {
    width: 60px;
    height: 30px;
    font-size: 16px;
  }
}
.theme1 {
  --main_bg: hsl(222, 26%, 31%);
  --display_bg: hsl(224, 36%, 15%);
  --bg_equal: hsl(6, 63%, 50%);
  --bg_keyboard: hsl(223, 31%, 20%);
  --equal_shad: hsl(6, 75%, 44%);
  --spc_key_shad: hsl(224, 32%, 38%);
  --text_out: hsl(221, 14%, 63%);
  --text_display: hsl(100, 0%, 100%);
  --norm_key_shad: hsl(225, 41%, 29%);
  --spc_key_bg: hsl(225, 21%, 49%);
  --fg_keys: hsl(224, 26%, 35%);
  --bg_nrm_keys: hsl(30, 15%, 89%);
}
.theme2 {
  --main_bg: hsl(0, 0%, 90%);
  --display_bg: hsl(0, 0%, 93%);
  --bg_equal: hsl(185, 42%, 37%);
  --bg_keyboard: hsl(0, 5%, 81%);
  --equal_shad: hsl(26, 100%, 53%);
  --spc_key_shad: hsl(185, 61%, 35%);
  --text_out: hsl(60, 10%, 19%);
  --text_display: hsl(100, 1%, 100%);
  --norm_key_shad: hsl(35, 11%, 61%);
  --spc_key_bg: hsl(185, 42%, 37%);
  --fg_keys: hsl(60, 14%, 22%);
  --bg_nrm_keys: hsl(45, 7%, 89%);
}
.theme3 {
  --main_bg: hsl(268, 75%, 9%);
  --display_bg: hsl(268, 71%, 12%);
  --bg_equal: hsl(176, 100%, 44%);
  --bg_keyboard: hsl(268, 71%, 12%);
  --equal_shad: sl(177, 72%, 80%);
  --spc_key_shad: hsl(285, 91%, 52%);
  --text_out: hsl(52, 80%, 72%);
  --text_display: hsl(198, 20%, 13%);
  --norm_key_shad: hsl(290, 73%, 56%);
  --spc_key_bg: hsl(281, 89%, 26%);
  --fg_keys: hsl(52, 72%, 100%);
  --bg_nrm_keys: hsl(268, 57%, 21%);
}
